#footer{
	margin:0px;
	padding:0px;
	width:100%;
	height:25px;
	background:url(images/页尾.png);
	repeat-y:false;	
}
#footerText{
	margin:0px;
	padding:0px;
	color:#FFF;
	text-align:center;
	line-height:25px;
	font-family:"宋体";
	font-size:12px;	
}